.about {
  .picture {
    max-width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto 3em;
    background-image: url("../assets/cesar_picture.jpg");
    background-size: cover;
    background-position: center;
    transition: box-shadow 200ms ease-in;
    box-shadow: $box-shadow;
  }

  p, blockquote {
    color: $clr-white;
  }

  .picture:hover {
    box-shadow: $box-shadow-hover;
  }

  p, blockquote {
    color: $clr-white;
  }
}

@media (min-width: 800px) {
  .about {
    .section__content {
      display: grid;
      grid: "picture description" auto / 1fr 2fr;
      grid-gap: 40px;
    }

    .description {
      grid-area: description;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }

    .picture {
      grid-area: picture;
      width: 100%;
      height: 400px;
    }
  }
}
