/* Contact */

.contact {
  background: $clr-black;
  color: $clr-light;
  margin: 0;
  font-size: 1em;
  text-align: center;
}
.contact h2 {
  color: $clr-white;
}

.contact .card {
  background-color: $clr-white;
  padding: 3em;
  height: auto;
  margin: 0 auto;
  max-width: 500px;
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

